<div class="chat-section">
    <div class="friend-list">
      Hi
    </div>
    <div class="chats">
      <div class="chat-heading">
        Chats
      </div>
      <div class="chat-display-section"></div>
      <div class="message-section">
        <form id="chat" method="POST">
          <input type="text" name="chat-message" id="chatMessage">
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>