<div class="section icon-items">
    <div class="icons">
      <a href="/"><div class="icon-holder"><span>Home</span><span class="material-icons md-24">home</span></div></a>
      <div class="icon-holder"><span>Gallery</span><span class="material-icons md-24">photo_library</span></div>
      <a href="/rankings"><div class="icon-holder"><span>Ranks</span><span class="material-icons md-24">equalizer</span></div></a>
      <div class="icon-holder"><span>Playlists</span><span class="material-icons md-24">queue_music</span></div>
    </div>
    <div class="icons">
      <div class="icon-holder">
        <form action="/logout?_method=DELETE" method="POST">
          <button type="submit">
            <span>Logout</span><span class="material-icons md-24">exit_to_app</span>
          </button>
        </form>
      </div>
      <div class="icon-holder"><span>Help</span><span class="material-icons md-24">help_outline</span></div>
    </div>
</div>