<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome <%= name %></title>
  <link rel="stylesheet" href="login.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <!---------------- Including the left menu through partials --------------------->
  <%- include('partials/left-menu') %>


  <div class="container">
    <div class="main">

  
      <!--------------- Main section done ------------------------->
   
   
       <% if(friendList.length === 0) { %>
         <div id= "empty">
           <span>Lonely?</span>
           <button type="button" id="addFriendButton">Add a Friend</button>
         </div>
       <% } else { %>
         <h1>You are succesfully logged in  <%= name %></h1>
         <h2> Welcome to the depressed fags website</h2>
       <% } %>
     
   
     <!-- <form action="/logout?_method=DELETE" method="POST">
     <button type="submit">Log Out</button>
     </form> -->
     </div>
   
   
     <!-- Chat Section -->
     <%- include('partials/chat-section') %>
  </div>

  <!------------------------ javascript ----------------->
  <script>
    var addFriendButtonDOM = document.getElementById('addFriendButton');
    console.log(addFriendButtonDOM);
    addFriendButtonDOM.addEventListener('click', (e) => {
        e.target.parentNode.style.display = "none";
        e.target.parentNode.insertAdjacentHTML('afterend', `
        <div id="empty">
          <span>Friend ID: </span>
          <form action="/" method="GET">
            <input type="text" name="friendID">
            <button type="submit">Search</button>
          </form>    
        </div>
        `);
        
    });
  </script>
</body>
</html>