<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome <%= name %></title>
  <link rel="stylesheet" href="login.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <!---------------- Including the left menu through partials --------------------->
  <%- include('partials/left-menu') %>


  <div class="main">
    <h1>You are succesfully logged in  <%= name %></h1>
    <h2> Welcome to the depressed fags website</h2>

  
   <!--------------- Main section done ------------------------->
  




  <!-- Chat Section -->
  <%- include('partials/chat-section') %>

  <!-- <form action="/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
  </form> -->
  </div>




  <!------------------------ javascript ----------------->
</body>
</html>