* {
    margin: 0;
    padding: 0;
}
input, label {
    font-size: x-large;
}
html {
    scroll-behavior: smooth;
}
body {
    /* background-color: rgba(0, 0, 0, 0.95); */
}
.container {
    width: 35%;
    /* border: 1px solid blue; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  .container form {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
  }
    .form-field {
      /* border: 1px solid black; */
      margin: 20px;
    }
      .form-field input {
        width: 100%;
        line-height: 1.5;
        background: transparent;
        border: none;
        border-bottom: 1px solid black;
      }


      .form-field>* {
        display: block;
      }
    
      .container form>button {
        margin: 20px 20px 40px;
        line-height: 2;
        
      }

    
    

    /* .option-area {
        font-size: x-large;
        margin: 10px 0;
    }
    .option-area::before, .option-area::after {
        content: "";
        border: 1px solid black;
        position: relative;
        left: 50%;
    } */